* {
    -webkit-user-select: none;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #171414;
    display: flex;
    justify-content: center;
}

.draggable {
    -webkit-app-region: drag;
}

.draggable:active {
    cursor: move;
}

.light-body {
    background: #e8dece;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.latex-container {
    position: absolute;
    height: min-content;
    pointer-events: none;
}

.latex-align-center {
    transform: translate(-50%, -50%);
}

.latex-align-right {
    transform: translate(-100%, -50%);
}

.hide {
    display: none;
}

#pen-canvas {
    cursor: crosshair;
}

#pen-preview-canvas {
    left: auto;
    top: auto;
    bottom: 5vw;
    right: 5vw;
    position: fixed;
    pointer-events: none;
    width: 10vw;
    height: 10vw;
    border: solid .1vw #fdf4c1;
}

#selection-canvas {
    position: absolute;
    box-shadow: inset 0 0 0 1px #6f6f6f, inset 0 0 0 2px #0000004f;
    pointer-events: none;
    background: #4a46460f;
}

#shape-canvas {
    position: absolute;
    pointer-events: none;
    background: none;
}

#latex-canvas {
    position: absolute;
    pointer-events: none;
    background: none;
}

::-webkit-scrollbar {
    display: none;
}

#key-prompt {
    position: absolute;
    left: 34px;
    bottom: 25px;
    color: #867373;
    font-family: 'Victor Mono';
    font-size: 12pt;
    pointer-events: none;
}

#text-prompt-container {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fdf4c1;
    font-family: 'Victor Mono';
    font-size: 12pt;
    pointer-events: none;
}

#text-prompt {
    display: inline-block;
    color: #fdf4c1;
    font-family: 'Victor Mono';
    font-size: 12pt;
    height: 20px;
    background: none;
    outline: none;
    border: none;
}

.light-body #text-prompt-container {
    color: #121112;
}

.light-body #text-prompt {
    color: #121112;
}

#current-pen-label {
    position: absolute;
    right: 29px;
    top: 26px;
    color: #867373;
    font-family: 'Victor Mono';
    font-size: 12pt;
    pointer-events: none;
}

.katex-display>.katex {
    text-align: inherit !important;
}

.katex-display {
    text-align: inherit !important;
}

table {
    border-collapse: collapse;
    position: absolute;
}

th {
    text-align: center;
    border-bottom: solid 1px #fdf4c1;
    height: 30px;
    font-size: 10pt;
    padding: 0;
}

td {
    text-align: left;
    min-width: 110px;
    padding: 0px 21px;
    font-size: 10pt;
    box-sizing: border-box;
}
